html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    overflow: hidden;
    height: 1000px;
    margin: 0;
}

.hide {
    display: none;
}

.start {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 30%;
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    text-align: center;
    z-index: 200;
    color: white;
    font-size: 1.5rem;
    background-color: black;
    font-family: sans-serif;
    font-weight: 700;
}

.game {
    height: 100%;
}

.car,
.enemy {
    width: 50px;
    height: 100px;
    position: absolute;
    right: 125px;
    bottom: 100px;
}

.gameArea {
    width: 300px;
    height: 100%;
    position: relative;
    margin: auto;
    background: white;
}
.gameAreaShow{
    background: #222;

}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
}
.score{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 1rem 0;
    z-index: 200;
    color: skyblue;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
}
.scoreShow{
    display: block;
}

.bonus{
    position: absolute;
    height: 50px;
    width: 50px;
    
}

.car {
    background: transparent url(../image/player.png) center / cover no-repeat;
}

.enemy {
    background: transparent url(../image/enemy2.png) center / cover no-repeat;
}

.enemy.bonus {
    background: transparent url(../image/coin.png) center / cover no-repeat;
}

.fps{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    background: black;
    padding: 1.5rem 0;
    z-index: 250;
    color: skyblue;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
}
.fpsShow{
    display: block;
}
#line1, #line2 {
    display: none;
    z-index: 250;
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: red;
}
.time{
    display: none;
    position: absolute;
    top: 0;
    left: 88%;
    width: 20%;
    background: black;
    padding: 1.5rem 0;
    z-index: 250;
    color: skyblue;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
}
.timeShow{
    display: block;
}
.audio{
    display: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 80%;
    width: 50px;
    height: 42px;
    margin: 1rem 0;
    background: transparent url(../image/audio.png) center / cover no-repeat;
    z-index: 255;
}
.audioDisabled{
    background: transparent url(../image/no-audio.png) center / cover no-repeat;
}
.audioShow{
    display: block;
}